<div id="emberclicrudtableconfirm" style="display:none" {{action "confirm"}}>hola</div>
<div class='row'>{{partial 'ember-cli-crudtable/default/top'}}</div>
<div class='table-responsive fixed-table-container'>{{partial 'ember-cli-crudtable/default/body'}}</div>
{{#if this.paginator.render}}
	<div class="row text-center">
		{{partial 'ember-cli-crudtable/default/pagination'}}
	</div>
{{/if}}
{{yield}}
{{partial 'ember-cli-crudtable/table-modal'}}
