<div class="table-responsive">
    {{#unless model.isLoading}}
    <table 
    class="table {{if model.stripped 'table-striped'}} {{if model.hover 'table-hover'}}"
    >
        <thead>
            <tr>
                {{#each model.labels key="@index" as |field index|}}
                <th>{{field.Display}}</th>
                {{/each}}
                {{#if model.editdelete}}
                <th width="100px">Actions</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each model.ComplexModel key="@index" as |row index|}}
            <tr>
                {{#if row}} {{render 'ember-cli-crudtable/table-row' row}} {{/if}} {{#if model.editdelete}}
                <td>
                    {{#if model.updateRecord}}
                    <button data-action="edit" class="btn btn-info btn-action" {{action 'internal_edit' row}}><i class="glyphicon glyphicon-edit"></i>
                    </button>
                    {{/if}} {{#if model.deleteRecord}}
                    <button data-action="delete" class="btn btn-danger btn-action" {{action 'internal_delete' row}}><i class="glyphicon glyphicon-trash"></i>
                    </button>
                    {{/if}}
                </td>
                {{/if}}
            </tr>
            {{/each}}

        </tbody>
        <tfoot>
            Showing {{model.pagination.from}} to {{model.pagination.to}} of <span name="total_records">{{model.pagination.total}}</span> {{model.pagination.name}}
        </tfoot>
    </table>
    {{else}} -{{render 'ember-cli-crudtable/spinner' model.newRecord}}- {{/unless}}
</div>