	<table class="table {{if this.stripped 'table-striped'}} {{if this.hover 'table-hover'}}">
		<thead>
			<tr>
				{{#each this.labels key="@index" as |field index|}}
				{{#if field.Visible}}
				<th>
					<span>{{field.Display}}</span>
					<button class="btn btn-xs glyphicon {{if field.Order '' 'glyphicon-sort'}} {{if field.Order_ASC 'glyphicon-sort-by-attributes' ''}} pull-left {{if field.Order_DESC 'glyphicon-sort-by-attributes-alt' ''}}" {{action 'internal_order' field }}></button>
				</th>
				{{/if}}
				{{/each}}
				{{#if this.editdelete}}
				<th width="100px">Actions</th>
				{{/if}}
			</tr>
		</thead>
		<tbody>
		{{#unless this.isLoading}}

			{{#each this.ComplexModel key="@index" as |row index|}}
				{{#if row}}
				<tr>
					{{partial 'ember-cli-crudtable/table-row'}}
					{{#if this.editdelete}}
					<td>
						{{#if this.updateRecord}}
							<button data-action="edit" class="btn btn-info btn-action btn-sm" {{action 'internal_edit' row}}><i class="glyphicon glyphicon-edit"></i>
							</button>
							{{/if}} {{#if this.deleteRecord}}
							<button data-action="delete" class="btn btn-danger btn-action btn-sm" {{action 'internal_delete' row}}><i class="glyphicon glyphicon-trash"></i>
							</button>
						{{/if}}
						</td>
					{{/if}}
					</tr>
				{{/if}}
			{{/each}}
		{{else}}
			<tr>
				<th colspan="50">
					{{partial template='ember-cli-crudtable.spinner' model=this.newRecord}}
				</th>
			</tr>

		{{/unless}}
			</tbody>
		{{#if this.paginator.render}}
		<tfoot>
			<div>
				{{this.paginator.from}} to {{this.paginator.to}} of
				<span name="total_records"> {{this.paginator.total}} </span> {{this.paginator.name}}
			</div>
			<div>
				Showing
				<span class="dropup">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{this.paginator.limit}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
					<li>
						<a{{action 'intetnal_setlimit' 10}}>10</a>
					</li>
					<li><a {{action 'intetnal_setlimit' 25}}>25</a></li>
					<li><a {{action 'intetnal_setlimit' 50}}>50</a></li>
					<li><a {{action 'intetnal_setlimit' 100}}>100</a></li>
					<li><a {{action 'intetnal_setlimit' 'all'}}>All</a></li>
				</ul>
				</span>
				per page
			</div>
			{{#if this.dlf}}
			<div id="dlf" style="display:none">{{this.dlf}}</div>
			{{/if}}
		</tfoot>
		{{/if}}
	</table>
