<div class="row text-center">
    <div class="btn-group">
        <button {{action 'goto' model.pagination.previous}} 

        class="{{if model.pagination.previous '' 'disabled'}} btn btn-page"

        type="button">Previous</button>
        {{#each model.pagination.links key="@index" as |page index|}}
        <button 
        data-page={{page.page}} {{action 'goto' page.page}} 
        class="btn {{if page.current 'btn-primary' 'btn-page'}}"
        type="button">
            {{page.page}}
        </button>
        {{/each}}
        <button {{action 'goto' model.pagination.next}} 
        class="{{if model.pagination.next '' 'disabled'}} btn btn-page" type="button">Next</button>
    </div>
</div>