	<div class="btn-group">
		<button {{action 'goto' this.paginator.previous}} class="{{if this.paginator.previous '' 'disabled'}} btn btn-page" type="button">Previous</button>
		{{#each this.paginator.links key="@index" as |page index|}}
		<button data-page={{page.page}} {{action 'goto' page.page}} class="btn {{if page.current 'btn-primary' 'btn-page'}}" type="button">
			{{page.page}}
		</button>
		{{/each}}
		<button {{action 'goto' this.paginator.next}} class="{{if this.paginator.next '' 'disabled'}} btn btn-page" type="button">Next</button>
	</div>
