<div class="row">
    <div class="col-sm-3 m-b-xs">
        <button class="btn btn-primary " type="button" data-action="create" {{action 'internal_create' value}}>
            <i class="fa fa-check"></i>&nbsp;New Record</button>
    </div>
    <div class="col-sm-4 m-b-xs">
        <div data-toggle="buttons" class="btn-group">
            <label class="btn btn-sm btn-white">
                <input type="radio" id="option1" name="options"> Day </label>
            <label class="btn btn-sm btn-white active">
                <input type="radio" id="option2" name="options"> Week </label>
            <label class="btn btn-sm btn-white">
                <input type="radio" id="option3" name="options"> Month </label>
        </div>
    </div>
    <div class="col-sm-2 m-b-xs">
        <select id="SearchField" class="input-sm form-control input-s-sm inline">
            {{#each field in this.fields}}
            <option {{bind-attr value=field}}>{{field}}</option>
            {{/each}}
        </select>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            {{input value=this.SearchTerm placeholder="Search" class="input-sm form-control" name="SearchTerm" }}
            <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary" {{action 'internal_search' this}} data-action=search> Go!</button>
            </span>
        </div>
    </div>
</div>
<div class="table-responsive">
    {{#unless isLoading}}
    <table {{bind-attr class=":table stripped:table-striped hover:table-hover" }} class="">
        <thead>
            <tr>
                {{#each field in this.fields}}
                <th>{{field}}</th>
                {{/each}} {{#if this.editdelete}}
                <th width="80px">Actions</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each row in this.ComplexModel}}
            <tr>
                {{#if row}} {{render 'crud-table-row' row}} {{/if}} {{#if this.editdelete}}
                <td>
                    {{#if this.updateRecord}}
                    <button data-action="edit" class="btn btn-info btn-circle" {{action 'internal_edit' row}}><i class="fa fa-edit"></i>
                    </button>
                    {{/if}} {{#if this.deleteRecord}}
                    <button data-action="delete" class="btn btn-danger btn-circle" {{action 'internal_delete' row}}><i class="fa fa-trash"></i>
                    </button>
                    {{/if}}
                </td>
                {{/if}}
            </tr>
            {{/each}}

        </tbody>
    </table>
    {{else}} {{render 'spinner' this}} {{/unless}}
</div>
<div class="row">
    <div class="col-sm-8">
        Showing {{this.pagination.from}} to {{this.pagination.to}} of {{this.pagination.total}} {{this.pagination.name}}
    </div>
    <div class="col-sm-4">

        <div class="btn-group">
            <button {{bind-attr class="this.pagination.previous::disabled :btn :btn-white" }} type="button">Previous</button>
            {{#each page in this.pagination.links}}
                <button
                        {{action 'goto' page.page}}
                        {{bind-attr class=":btn page.current:btn-primary:btn-white" }}
                        type="button">
                    {{page.page}}
                </button>
            {{/each}}
            <button {{bind-attr class="this.pagination.next::disabled :btn :btn-white" }} type="button">Next</button>
        </div>
    </div>
</div>
{{yield}} {{render 'crud-table-modal' this}}
